name: ip_set
description: "App para alterar IPs de rede no Windows"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  bitsdojo_window: ^0.1.6
  provider: ^6.1.5+1
  go_router: ^16.3.0
  editable: ^2.0.0
  path_provider: ^2.1.5
  url_launcher: ^6.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true

  assets:
    - assets/images/

